@import "tailwindcss";

@layer base {
  /* শুধুমাত্র লাইট মোডের স্টাইল */
  body {
    @apply bg-white text-gray-900;
  }
}

:root {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

body {
  font-family: var(--font-geist-sans);
}
